

<h1> Routines </h1>



<% @routines.each do |r| %>
<%= link_to r.name, routine_path(r) %> <br/>
<% end %>

<% if params[:category_id].blank? %>
<div>
  <h4>Filter By Category :</h4>
  <%= form_tag("/routines", method: "get") do %>
    <%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<%end%>

<%= link_to "Back to Home", user_path(current_user.id) %>