<h1>Routine Name: <%= @routine.name %></h1>
 <ul>
<h2>Duration:</h2> <%=@routine.duration %> minutes

<h2>Category:</h2> <%= @routine.category.name %><br/>

<h2>Description: </h2> <%= @routine.description %><br/></ul>

<h3>Check out all the exercises in this routine:</h3>
<%= button_to "Exercises", routine_exercises_path(@routine), method: :get  %> <br/>

Or add an additional exercise to this routine: 
<%= button_to "Add an Exercise to this routine", new_routine_exercise_path(@routine), method: :get %> <br/>
<%= button_to "Edit this Routine", edit_routine_path(@routine), method: :get %>
<%= button_to "Delete", @routine, method: :delete %>
<%= link_to "Back to Home", user_path(current_user.id) %>