<h2><%= @routine.name %></h2>
<h3><%= @routine.category.name %></h3>
<%= @routine.description %>

<h3>Check out all the exercises in this routine:</h3>
<%= link_to "Exercises", routine_exercises_path(@routine) %> 
Or add an additional exercise to this routine: 
<%= link_to "Add an Exercise to this routine", new_routine_exercise_path(@routine) %>