<% if @routine.errors.any? %>
  <ul>
    <% @routine.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
<%end%>


<%= form_for @category  do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

  

 <%= f.submit %>
<%end %>
<br>