<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="topnav">
        <% if current_user %>
       <%= link_to "My Routines", user_path(current_user.id) %>
        <%= link_to "My Exercises"%>
        <%= link_to "My Categories"%>
        <%=link_to "Logout", logout_path, method: :post %>
      <%end%>
      </div>
     
    <%= yield %>
  
  </body>
</html>
